.fa-plus{
    border: 1px solid #007bff;
    border-radius: 40px;
    font-size: 25px;
    background-color: #007bff;
    color: white;
    padding: 8px 10px;
    position: fixed;
    bottom: 140px;
    right: 46px;
}

label{
    font-weight: bold;
}

h1{
    font-family: Montserrat, sans-serif;
}

.fa-edit{
    border: 1px solid #092244;
    border-radius: 40px;
    font-size: 16px;
    background-color: rgb(59, 124, 102);
    color: white;
    padding: 9px 8px;
}

.fa-trash-alt {
    border: 1px solid #092244;
    border-radius: 40px;
    font-size: 16px;
    background-color: #dc3545;
    color: white;
    padding: 9px 10px;
}

